* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: oroban-elegans;
    src: url(fonts/Oroban-Elegans.otf);
}

/* header */

header {
    display: block;
}

.site-header {
    height: 130px;
    width: 100%;
    color: rgb (5,5,5);
    display: block;
    position: fixed;

}

.site-text-container {
    margin: 20px 50px;
    width: 80%;
    opacity: 1;
}

.site-text {
    color: white;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5em;
}

.site-subtext {
    color: white;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
    margin-left: 60px;
    line-height: 1.5em;
}


.poem-title{
    color:white;
    font-family: 'oroban-elegans', serif;
    font-weight: 100;
    font-size: 90px;
    padding: 400px 50px 20px 50px;
    line-height: 0.9em;
}


